<div id="acmevil_footer">
    <div id="address">
        <strong>AcmEvil Incorporated</strong><br />
        Administration Office, Internal Complex,<br />
        Secret Base of Evil, Anoocalops Volcano,<br />
        <strong>Isla de Devastation</strong>
    </div>
    <div id="contact_details">
        t: +666 001<br />
        e: enquiries@acmevil.co.idd<br />
        w: acmevil.co.idd
    </div>
    <div id="legal_details">
        Managing Director: Count Deathstare Monstermaker<br />
        Company Reg. No.: 1 (Isla de Devastation)<br />
        Tax Code: L0LN0<br />
    </div>
</div>