{% extends 'adminas/layout_headed_document.html' %}

{% load static %}

{% block css %}
    <link href="{% static css_file %}" rel="stylesheet">
{% endblock %}

{% block title %}
    - Order Confirmation
{% endblock %}

{% block body %}
    CSS file = "{% static css_file %}"

    {% if media == 'screen' %}
    <div class="document-toolbar">
        <a href="{% url 'job' job_id %}">Back to job</a><br />
        <a href="{% url 'doc_main' version_id %}">Back to document (read)</a><br />
        {% if issue_date == None %}
        <a href="{% url 'doc_builder' %}?id={{version_id}}">Back to document (edit)</a><br />
        {% endif %}
    
        <a href="{% url 'doc_display' version_id %}?mode=pdf">PDF Document</a>

        {% if has_previous %}
        <a href="{% url 'doc_display' version_id %}?page={{ previous_page_number }}">previous</a>
        {% else %}
        <span class="disabled">previous</span>
        {% endif %}
        viewing page {{ page_num }} of {{ num_pages }}
        {% if has_next %}
        <a href="{% url 'doc_display' version_id %}?page={{ next_page_number }}">next</a>
        {% else %}
        <span class="disabled">next</span>
        {% endif %}    
        <div id="mode_box">
        {% if issue_date != None %}
            FINAL ({{ issue_date }})
        {% else %}
            PREVIEW
        {% endif %} 
        </div>  
    </div>
    {% endif %}

    <h2>{{ title }}</h2>

    <section class="invoice-to">
        <h3>Invoice to</h3>
        {{ invoice_to }}
    </section>

    <section class="delivery-to">
        <h3>Deliver to</h3>
        {{ delivery_to }}
    </section>

    <section class="fields">
    {% for fld in fields %}
        <div class="one-field">
            <h4>{{ fld.h }}</h4>
            <span>{{ fld.body }}</span>
        </div>
    {% endfor %}
    </section>

    {% if instructions %}
    <section class="special-instructions">
        <h3>Special Instructions</h3>
        {% for sp_inst in instructions %}
        <div class="one-special-instruction">
            <div class="contents">{{ sp_inst.instruction }}</div>
        </div>
        {% endfor %}
    </section>
    {% endif %}

    <section class="page-number">
        Page {{ page_num }} of {{ num_pages }}
    </section>

    <section class="section-item-list">
        <table>
            <tr>
                <th>Qty</th>
                <th>Part #</th>
                <th>Description</th>
                <th>Origin</th>
                <th>List</th>
                <th>Unit</th>
                <th>Total ({{ currency }})</th>
            </tr>
    {% for item in line_items %}
            <tr>
                <td>{{ item.quantity }}</td>
                <td>{{ item.part_number }}</td>
                <td>{{ item.product_description }}</td>
                <td>{{ item.origin }}</td>
                <td>{{ item.list_price_f }}</td>
                <td>{{ item.unit_price_f }}</td>
                <td>{{ item.total_price_f }}</td>
            </tr>
    {% endfor %}
    {% for empty_row in empty_row_range %}
            <tr><td>-</td><td></td><td></td><td></td><td></td></tr>
    {% endfor %}
            <tr>
                <td colspan=6>Total {{ currency }}</td>
                <td>{{ total_value_f }}</td>
            </tr>
        </table>
    </section>



{% endblock %}