{% extends "adminas/layout.html" %}
{% load static %}

{% block javascript %}
    <script>
        const DOC_CODE = '{{ doc_type }}';
        const DOC_ID = '{{ doc_id }}';
        const JOB_ID = '{{ job_id }}';
        const URL_DOCBUILDER = "{% url 'doc_builder' %}";
    </script>
    <script src="{% static 'adminas/document_items.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    - Document Builder
{% endblock %}

{% block body %}

    <h2>Document Builder</h2>
    <h2>{{ doc_title }}</h2>

    <section class="status-controls">
        <span>Working on document.</span><br />


    {% if doc_id == 0 %}
        <p>Preview is disabled until the document has been saved.</p>
    {% else %}
        <a href="{% url 'doc_main' doc_id %}">Exit edit mode</a><br />
        <a href="{% url 'doc_display' doc_id %}?mode=preview">Preview</a><br />
    {% endif %}
        <a href="{% url 'job' job_id %}">Return to Job</a>
    </section>


    <div class="document-fields-container">

        <label for="id_doc_reference">Reference</label>
        <input type="text" id="id_doc_reference" value="{{reference}}">

    {% if doc_type == 'WO' %}
        <label for="id_req_prod_date">Requested Completion Date</label>
        <input type="datetime" id="id_req_prod_date" value="{{doc_specific.date_requested|date:'d/m/Y'}}">
    {% endif %}
    </div>

    <div>
        Items
        <div class="included-container">
            Include
            <ul class="included">
    {% for inc in included_items %}
                <li data-jiid="{{ inc.jiid }}">
                    <span class="display">{{ inc.display }}</span>
                    <button class="split-docitem-btn">split</button>
                    <button class="toggle-docitem-btn">x</button>
                </li>
    {% empty %}
                <li class="none">None</li>
    {% endfor %}
            </ul>
        </div>
        <div class="excluded-container">
            Exclude
            <ul class="excluded">
        {% for excl in excluded_items %}
                <li data-jiid="{{ excl.jiid }}" {% if excl.is_available == False %}class="unavailable"{% endif %}>
                    <span class="display">
                        {{ excl.display }}
            {% if excl.is_available %}
                    </span>
                    <button class="split-docitem-btn">split</button>
                    <button class="toggle-docitem-btn">x</button>
            {% else %}
                        <span><a href="{% url 'doc_builder' %}?id={{excl.doc_id}}">
                            (on  
                {% if excl.used_by %}
                                {{ excl.used_by }})
                {% else %}
                            unnamed)
                {% endif %}
                        </a></span>
                    </span>
            {% endif %}
                </li>
        {% empty %}
                <li class="none">None</li>
        {% endfor %}                
            </ul>
        </div>
    </div>

    <div class="section-special-instructions-builder">
        <h3>Special Instructions</h3>
        <div class="existing">
    {% for sp_inst in special_instructions %}
            <div class="one-special-instruction" data-siid="{{ sp_inst.id }}">
                <div class="contents">{{ sp_inst.instruction }}</div>
                <button class="edit-special-instruction-btn">edit</button>
                <button class="delete-special-instruction-btn">x</button>
                <div class="who-and-when"><span class="username">{{ sp_inst.created_by }}</span> on <span class="when">{{ sp_inst.created_on }}</span></div>
            </div>
    {% empty %}
            <p class="no_special_instructions">No special instructions on this document.</p>
    {% endfor %}
        </div>
        <div class="add-new">
            <label for="id_add_special_instruction">Add new instruction</label>
            <textarea id="id_add_special_instruction"></textarea>
            <button class="add-special-instruction-btn">add</button>
        </form>
    </div>


    <div id="docbuilder_actions_buttons_container">
        <button id="document_save_btn">save</button>
        <button id="document_issue_btn">issue</button>
        <button id="document_delete_btn">delete</button>
    </div>




{% endblock %}