{% extends "adminas/layout.html" %}
{% load static %}


{% block title %}
    - Document
{% endblock %}

{% block javascript %}
    <script>
        const URL_DOC_MAIN = "{% url 'doc_main' doc_version.id %}"
    </script>
    <script src="{% static 'adminas/document_main.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <h2>Document</h2>
    <h2>{{ doc_title }}</h2>
    
    <section class="status-controls">
    {% if doc_version.issue_date %}
        <span>Issued on {{ doc_version.issue_date }} (v{{ doc_version.version_number }})</span><br />
        <a href="{% url 'doc_display' doc_version.id %}">View PDF</a><br />
        <button class="replace-document">Replace with new version</button><br />
    {% elif doc_version.active %}
        <span>Working / draft (v{{ doc_version.version_number }})</span><br />
        <a href="{% url 'doc_builder' %}?id={{ doc_version.id }}">Enter edit mode</a><br />
        <a href="{% url 'doc_display' doc_version.id %}">Preview PDF</a><br />
        {% if doc_version.version_number > 1 %}
            <button class="revert-document">Revert to previous version</button><br />
        {% endif %}
    {% else %}
        <span>Deleted</span>
        <p>To restore, contact an administrator.</p>
    {% endif %}
        <a href="{% url 'job' doc_version.document.job.id %}">Return to Job</a><br />
    </section>

    
    <div class="document-fields-container">
        <label for="id_doc_reference">Reference</label>
        <div id="id_doc_reference">{{ doc_version.document.reference }}</div>
        <div class="doc-version">Version {{ doc_version.version_number }}</div>


    {% if doc_version.document.doc_type == 'WO' %}
        <label for="id_req_prod_date">Requested Completion Date</label>
        <div id="id_req_prod_date">{{ doc_specific.date_requested }}</div>
    {% endif %}
    </div>

    <div>
        Items
        <div class="included-container">
            Include
            <ul class="included">
    {% for inc in doc_version.get_included_items %}
                <li>
                    <span class="display">{{ inc.display }}</span>
                </li>
    {% empty %}
                <li class="none">None</li>
    {% endfor %}
            </ul>
        </div>
    {% if doc_version.active %}
        <div class="excluded-container">
            Exclude
            <ul class="excluded">
        {% for excl in doc_version.get_excluded_items %}
                <li {% if excl.is_available == False %}class="unavailable"{% endif %}>
                    <span class="display">
                        {{ excl.display }}
            {% if excl.is_available %}
                    </span>
            {% else %}
                        <span><a href="{% url 'doc_main' excl.doc_id %}">
                            (on  
                {% if excl.used_by %}
                                {{ excl.used_by }})
                {% else %}
                            unnamed)
                {% endif %}
                        </a></span>
                    </span>
            {% endif %}
                </li>
        {% empty %}
                <li class="none">None</li>
        {% endfor %}                
            </ul>
        </div>
    {% endif %}
    </div>

    <div class="section-special-instructions-builder">
        <h3>Special Instructions</h3>
        <div class="existing">
    {% for sp_inst in special_instructions %}
            <div class="one-special-instruction">
                <div class="contents">{{ sp_inst.instruction }}</div>
                <div class="who-and-when"><span class="username">{{ sp_inst.created_by }}</span> on <span class="when">{{ sp_inst.created_on }}</span></div>
            </div>
    {% empty %}
            <p class="no_special_instructions">No special instructions on this document.</p>
    {% endfor %}
        </div>
    </div>




{% endblock %}