{% extends "adminas/layout.html" %}

{%  load static %}

{% block title %}
    - Home
{% endblock %}

{% block javascript %}
    <script>
        const URL_COMMENT_STATUS = '{% url "comment_status" %}';
        const URL_TODO_MANAGEMENT = '{% url "todo_list_management" %}';
    </script>
    <script src="{% static 'adminas/todo_management.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/job_comments.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <h2>Home</h2>
    <h3>To-do List</h3>
    <div id="id_todo_list_container">
    {% for job in data %}
        <article id="todo_panel_job_{{ job.id }}" class="panel job">
            <section class="job-details">
                <button class="todo-list-remove delete-panel" data-job_id="{{ job.id }}"><span>remove</span></button>
                <a href="{% url 'job' job.id %}">
                    <h4 class="panel-header">{{ job.name }} <img src="{{ job.flag_url }}" alt="{{ job.flag_alt }}"></h4>
                    <p>
        {% if job.customer != None %}
                        {{ job.customer }}{% if job.agent != None %} (via {% endif %}
        {% endif %}
        {% if job.agent != None %}
                {{ job.agent }}{% if job.customer != None %}){% endif %}
        {% endif %}
         @ {{ job.currency }}&nbsp;{{ job.value }}
                    </p>
                    <ul>        
        {% for str_warning in job.admin_warnings.strings %}
                        <li>{{ str_warning }}</li>
        {% endfor %}    
        {% for tuple_warning in job.admin_warnings.tuples %}
                        <li>{{ tuple_warning.0 }} {{ tuple_warning.1 }}</li>
        {% endfor %} 
                    </ul>
                </a>
            </section>

            <section class="comments" data-url_comments="{% url 'job_comments' job.id %}">
            {% if job.pinned_comments %}
                <h5 class="secondary-icon">PINNED</h5>
            {% endif %}
                <section class="comment-container pinned streamlined toggle-heading">
            {% for comment in job.pinned_comments %}
                    {% include "adminas/comment_collapse.html" with comment=comment %}
            {% endfor %}
                </section>
                <div class="todo-list-add-pinned-comment-container">
                    <button class="add-button comment comment-to-todolist" data-form_type="content-only">comment</button>
                </div>
            </section>

        </article>
    {% endfor %}
    </div>
{% endblock %}


