{% extends "adminas/layout.html" %}

{% load static %}
{% load get_item_description %}

{% block title %}
    - Job #TODO
{% endblock %}

{% block javascript %}
    <script>
        const JOB_ID = '{{ job.id }}';
        const URL_ITEMS = '{% url "items" %}';
        //const ADD_PO_URL = "{% url 'purchase_order' %}";
    </script>
    <script src="{% static 'adminas/job_toggle.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/items_new_form.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/items_edit.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/auto_item_desc.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <h2>Job {{ job.name }} for {{ job.customer.name }}</h2>
    <h3>General Details</h3>
    <div id="job_general_section">
        <h4>Identification</h4>
        <div class="read_row">
            Agent: {{ job.agent.name }}
        </div>
        <div class="read_row">
            Customer: {{ job.customer.name }}
        </div>
        <div class="read_row">
            Quote ref: {{ job.quote_ref }}
        </div>
        <div class="read_row">
            Country: {{ job.country.name }}
        </div>
        <div class="read_row">
            Language: {{ job.language }}
        </div>
    </div>

    <div class="payment_and_delivery_container">
        <div id="job_payment_section">
            <h4>Payment</h4>
            <div class="read_row panel">
                Invoice address:<br />
                {{ job.invoice_to.address }}, {{ job.invoice_to.region }}, {{ job.invoice_to.postcode }}, {{ job.invoice_to.country.name }}
            </div>
            <div class="read_row">
                Currency: {{ job.currency }}
            </div>
            <div class="read_row panel">
                Payment terms:<br />
                {{ job.payment_terms }}
            </div>
        </div>
        <div id="job_delivery_section">
            <h4>Delivery</h4>
            <div class="read_row panel">
                Delivery address:<br />
                {{ job.delivery_to.address }}, {{ job.delivery_to.region }}, {{ job.delivery_to.postcode }}, {{ job.delivery_to.country.name }}
            </div>
            <div class="read_row">
                Incoterm: {{ job.incoterm_code }} {{ job.incoterm_location }}
            </div>
        </div>
    </div>

    <div id="job_po_section">
        <h3>Purchase Order</h3>
        <div class="job-po-container">
    {% for po in po_list %}
                <div class="po-row">"{{ po.reference }}" dated {{ po.date_on_po }} for {{ po.currency }} {{ po.value_f }} [edit TODO]</div>
    {% endfor %}
        </div>
        <div class="job-po-form-container">
            <button id="toggle_po_form_btn">Add PO</button>
            <form method="POST" action="{% url 'purchase_order' %}" class="hide" id="po_form">
                {% csrf_token %}
                {{ po_form }}
                <input type='submit' action='submit' id='po_submit_button' value='submit'>
            </form>
        </div>
    </div>

    <div id="job_items_section">
        <h3>Items</h3>
        <div class="job-items-container">

    {% if item_list != None %}
            <div id="price_summary">
                <h4>Summary</h4>
                <table>
                    <tr><th>Value</th><td>{{ job.currency }}</td><td class="selling-price">{{ job.total_value_f }}</td><td></td></tr>
                    <tr><th>List price</th><td>{{ job.currency }}</td><td class="list-price">{{ job.total_list_price_f }}</td><td></td></tr>
                    <tr><th>Difference</th><td>{{ job.currency }}</td><td class="diff-val">{{ job.total_list_diff_value_f }}</td><td>(<span class="diff-perc">{{ job.total_list_diff_perc }}</span>%)</td></tr>
                </table>
            </div>
            <button id="toggle_price_check">Show Price Check</button>
            <div class="existing-items-container">
        {% for it in item_list %}
                <div class="job-item-container">
                    <div class="what">
                        <span class="quantity">{{ it.quantity }}</span> x <span class="product">{{ it.product }}</span>                       
                        
            {% if it.product.is_modular == True %}
                        <div class="mod-req-status"><a href="{% url 'manage_modules' job.id %}">
                            [spec: 
                {% if it.all_required_modules_assigned == True %}
                            ok
                {% else %}
                            INCOMPLETE
                {% endif %}
                        
                {% if it.all_optional_modules_assigned == False %}
                            <span class="mod-opt-status"> +? </span>
                {% endif %}
                            ]
                        </a></div>
            {% endif %}
                    </div>
                    <div class="desc">{% get_item_description it.product job.language %}</div>
            {% if it.includes.count > 0 %}
                    <div class="std-accs">
                        <p>includes:</p>
                        <ul>
                {% for acc in it.includes.all %}
                            <li>{{ acc.quantity }} x {{ acc.product }}
                {% endfor %}
                        </ul>
                    </div>
            {% endif %}
                    <div class="money"><span class="currency">{{ job.currency }}</span><span class="selling_price">{{ it.selling_price_f }}</span></div>
                    <div class="price-check">
                        <div class="check-list">
                            <div class="price-list-info">
                                <span class="price_list">{{ it.price_list }}</span>
                            </div>
                            <div class="price-check-details hide">
                                <span class="price">{{ it.list_price_f }}</span>
                                <span class="diff-val">{{ it.list_difference_value_f }}</span>
                                <span class="diff-perc">{{ it.list_difference_perc_f }}%</span>
                            </div>
                        </div>
                        <div class="check-resale price-check-details hide">
                            <div class="resale-info">
                                Less resale <span class="percentage">{{ it.resale_percentage }}%</span>
                            </div>
                            <span class="price">{{ it.resale_price_f }}</span>
                            <span class="diff-val">{{ it.resale_difference_value_f }}</span>
                            <span class="diff-perc">{{ it.resale_difference_perc_f }}%</span>
                        </div>
                    </div>
                    <button class="ji-edit" data-jiid="{{ it.id }}">edit</button>
                    <button class="ji-delete" data-jiid="{{ it.id }}">delete</button>
                </div>
        {% endfor %}
            </div>


            <button id="toggle_item_form_btn">add items</button>
            <div id="new_items_container" class="hide">
    {% else %}


            <button id="toggle_item_form_btn" class="hide">add items</button>
            <div id="new_items_container">
    {% endif %}
                <div class="add-multiple">
                    Add <input type="number" id="add_multi_items"> items <button id="add_multi_items_btn">add items</button>
                </div>
                <form method="POST" action="{% url 'items' %}" id="items_form">
                    {% csrf_token %}
                    {{ item_formset.management_form }}
    {% for form in item_formset %}
                    <div class="form-row">
                        <label for="{{ form.quantity.auto_id }}">{{ form.quantity.label }}</label>
                        {{ form.quantity }}
                        <label for="{{ form.product.auto_id }}">{{ form.product.label }}</label>
                        {{ form.product }}
                        <label for="{{ form.selling_price.auto_id }}">{{ form.selling_price.label }}</label>
                        {{ form.selling_price }}
                        <label for="{{ form.price_list.auto_id }}">{{ form.price_list.label }}</label>
                        {{ form.price_list }}
                        {{ form.job }}
                        <button class="remove-item-btn btn-danger">-</button><button id="add_item_btn" class="btn-success">+</button>
                    </div>
    {% endfor %}
                    <input type="submit" action="submit" id="items_submit_button" value="submit">
                </form>
            </div>
        </div>
    </div>

{% endblock %}


