{% extends "adminas/layout.html" %}

{% load static %}
{% load get_item_description %}

{% block title %}
    - Job {{ job.name }}
{% endblock %}

{% block javascript %}
    <script>
        const JOB_ID = '{{ job.id }}';
        const URL_ITEMS = '{% url "items" %}';
        const URL_PRICE_CHECK = '{% url "price_check" job.id %}';
        const URL_TODO_MANAGEMENT = '{% url "todo_list_management" %}';
        const REPLACE_TODO_BTN = 'div';
        const URL_JOB_COMMENTS = '{% url "job_comments" job.id %}';
        const URL_COMMENT_STATUS = '{% url "comment_status" %}';
        //const URL_PO = '{% url 'purchase_order' %}';
    </script>
    <script src="{% static 'adminas/job_toggle.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/items_new_form.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/items_edit.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/po_edit.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/auto_item_desc.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/job_price_check_btn.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/todo_management.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/job_comments.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    <h2>Job {{ job.name }}</h2>
    <div class="extended-subheading">
        {% if job.customer %}<div class="subheading">for {{ job.customer.name }}</div>{% endif %}
        <div class="status-indicator {% if watching %}on{% else %}off{% endif %}">
            <span class="status-name">
                to-do list
            </span>
            <button class="toggle-todolist" data-job_id="{{ job.id }}" data-on_todo_list="{{ watching|lower }}">
            {% if watching %}
                on
            {% else %}
                off
            {% endif %}
            </button>
        </div>
    </div>

    <div class="job-page-sections-wrapper">

        <section id="job_details">
            <h3>General Details</h3>
            <div class="extended-subheading">
                <a href="{% url 'edit_job' %}?job={{job.id}}" class="edit-icon"><span>edit</span></a>
            </div>

            <section class="subsection">
                <h4>Identification</h4>
                <div class="read_row">
                    <span class="row-label">Agent: </span>{{ job.agent.name }}
                </div>
                <div class="read_row">
                    <span class="row-label">Customer: </span>{{ job.customer.name }}
                </div>
                <div class="read_row">
                    <span class="row-label">Quote ref: </span>{{ job.quote_ref }}
                </div>
                <div class="read_row">
                    <span class="row-label">Country: </span>{{ job.country.name }}
                </div>
                <div class="read_row">
                    <span class="row-label">Language: </span>{{ job.language }}
                </div>
            </section>

            <section id="job_payment_section" class="subsection">
                <h4>Payment</h4>
                <div class="read_row">
                    <span class="row-label">Invoice address: </span>{{ job.invoice_to.address }}, {{ job.invoice_to.region }}, {{ job.invoice_to.postcode }}, {{ job.invoice_to.country.name }}
                </div>
                <div class="read_row">
                    <span class="row-label">Currency: </span>{{ job.currency }}
                </div>
                <div class="read_row">
                    <span class="row-label">Payment terms: </span>{{ job.payment_terms }}
                </div>
            </section>

            <section id="job_delivery_section" class="subsection">
                <h4>Delivery</h4>
                <div class="read_row">
                    <span class="row-label">Delivery address: </span>{{ job.delivery_to.address }}, {{ job.delivery_to.region }}, {{ job.delivery_to.postcode }}, {{ job.delivery_to.country.name }}
                </div>
                <div class="read_row">
                    <span class="row-label">Incoterm: </span>{{ job.incoterm_code }} {{ job.incoterm_location }}
                </div>
            </section>

        </section>





        <section id="job_comments">
            <h3>Comments</h3>
            <a href="{% url 'job_comments' job.id %}?page=1">See all {{ num_comments }} comments</a>
            {% for section in comment_data %}
            <section class="subsection">
                <h4>{{ section.title }}</h3>
                <div class="comment-container {{ section.class_suffix }} empty-paragraph">
                {% for comment in section.comments %}
                    {% include "adminas/comment_collapse.html" with comment=comment %}
                {% empty %}
                    <p class="empty-section-notice">No comments have been {{ section.class_suffix }}</p>
                {% endfor %}
                </div>
            </section>
            {% endfor %}
        </section>




        <section class="job-doc-section">
            <h3>Documents</h3>
            <div class="subsection">
                <h4>Works Order</h4>
                <ul>
        {% for doc_version in job.related_documents %}
            {% if doc_version.document.doc_type == 'WO' %}
                    <li>
                        <a href="{% url 'doc_main' doc_version.id %}"
                            {% if doc_version.issue_date != None %}
                                class="issued-document">
                                <span class="issue-icon">I</span>
                            {% else %}
                                class="saved-document">
                                <span class="saved-icon">S</span>
                            {% endif %}{{ doc_version.document.doc_type }} {{ doc_version.document.reference }} dtd {% if doc_version.issue_date != None %} {{ doc_version.issue_date|date:'Y-m-d' }} {% else %} {{ doc_version.created_on|date:'Y-m-d' }} {% endif %}
                        </a>
                    </li>
            {% endif %}
        {% endfor %}
                </ul>
                <a href="{% url 'doc_builder' %}?job={{job.id}}&type=WO" class="add-button">New WO</a>
            </div>

            <div class="subsection">
                <h4>Order Confirmation</h4>
                <ul>
        {% for doc_version in job.related_documents %}
            {% if doc_version.document.doc_type == 'OC' %}
                    <li>
                        <a href="{% url 'doc_main' doc_version.id %}"
                        {% if doc_version.issue_date != None %}
                                class="issued-document">
                                <span class="issued-icon">I</span>
                        {% else %}
                                class="saved-document">
                                <span class="saved-icon">S</span>
                        {% endif %}{{ doc_version.document.doc_type }} {{ doc_version.document.reference }} dtd {% if doc_version.issue_date != None %} {{ doc_version.issue_date|date:'Y-m-d' }} {% else %} {{ doc_version.created_on|date:'Y-m-d' }} {% endif %}
                        </a>
                    </li>
            {% endif %}
        {% endfor %}
                </ul>
                <a href="{% url 'doc_builder' %}?job={{job.id}}&type=OC" class="add-button">New OC</a>
            </div>
        </section>



        <section id="job_items_section">
            <h3>Items</h3>
            <div class="job-items-container">

        {% if job.main_item_list != None %}
                <div class="existing-items-container">

            {% for it in job.main_item_list %}
                    <div id="jobitem_{{ it.id }}" class="panel job-item-container">

                        <h5 class="panel-header what">
                            <span class="quantity">{{ it.quantity }}</span> x <span class="product">{{ it.product }}</span><span class="id-number">{{ it.id }}</span>
                            <div class="desc">{% get_item_description it.product job.language %}</div>  
                            
                        </h5>

                        <div class="money">
                            <span class="currency">{{ job.currency }}</span><span class="selling_price">{{ it.selling_price_f }}</span>
                            <span class="price_list secondary-icon">{{ it.price_list }}</span>
                            <button class="ji-edit edit-icon" data-jiid="{{ it.id }}" ><span>edit</span></button>
                        </div>

                        <div class="std-accs-container">
                {% if it.includes.count > 0 %}
                            <div class="std-accs">
                                <p>Included items:</p>
                                <ul>
                    {% for acc in it.includes.all %}
                                    <li>{{ acc.quantity }} x {{ acc.product }}
                    {% endfor %}
                                </ul>
                            </div>
                {% endif %}
                        </div>

                {% if it.product.is_modular == True %}
                        <div class="module-status-section subsection modules-{% if it.all_required_modules_assigned == True %}ok{% else %}incomplete{% endif %}">
                            <div class="intro-line">
                                <span class="display-text">&raquo; 
                    {% if it.all_required_modules_assigned == True %}
                                    Assigned
                    {% else %}
                                    INCOMPLETE
                    {% endif %}
                                modules
                                </span>
                                <a href="{% url 'manage_modules' job.id %}#modular_jobitem_{{ it.id }}" class="edit-icon"><span>edit</span></a>
                            </div>
                            <ul class="details">
                    {% for module in it.modules.all %}
                                <li>{{ module.quantity }} x [{{ module.child.product.part_number }}] {{ module.child.product.name }} <span class="id-number">{{ module.child.id }}</span></li>
                    {% endfor %}
                            </ul>
                        </div>
                {% endif %}
        
                {% if it.module_of.all.count != 0 %}
                        <div class="module-status-section assignments">
                            <div class="intro-line">
                                <span class="display-text">
                                    &laquo; {{ it.module_of.all.count }} assignment{% if it.module_of.all.count > 1 %}s{% endif %} ({{ it.num_unassigned }} unassigned)
                                </span>
                                <!-- <a href="{% url 'manage_modules' job.id %}" class="edit-icon"><span>edit</span></a> -->
                            </div>
                            <ul>
                    {% for module in it.module_of.all %}
                                <li>{{ module.quantity }} to [{{ module.parent.product.part_number }}] {{ module.parent.product.name }} <span class="id-number">{{ module.parent.id }}</span></li>
                    {% endfor %}
                            </ul>
                        </div>
                {% endif %}
                    </div>
            {% endfor %}
                </div>

                <button id="open_item_form_btn" class="add-button">Add Items</button>
                <div id="new_items_container" class="form-like panel hide">
        {% else %}

                <button id="open_item_form_btn" class="add-button hide">Add Items</button>
                <div id="new_items_container" class="form-like panel">
        {% endif %}
                    <button id="close_item_form_btn" class="close"><span>close</span></button>
                    <h5 class="panel-header">Add New Items</h5>
                    <form method="POST" action="{% url 'items' %}" id="items_form">
                        {% csrf_token %}
                        {{ item_formset.management_form }}
        {% for form in item_formset %}
                        <div class="form-row panel">
                            <button class="remove-item-btn delete-panel"><span>remove</span></button>
                            <label for="{{ form.quantity.auto_id }}">{{ form.quantity.label }}</label>
                            {{ form.quantity }}
                            <label for="{{ form.product.auto_id }}">{{ form.product.label }}</label>
                            {{ form.product }}
                            <label for="{{ form.selling_price.auto_id }}">{{ form.selling_price.label }}</label>
                            {{ form.selling_price }}
                            <label for="{{ form.price_list.auto_id }}">{{ form.price_list.label }}</label>
                            {{ form.price_list }}
                            {{ form.job }}
                        </div>
        {% endfor %}
                        <button id="add_item_btn" class="add-button"><span>add 1 more</span></button>
                        <div class="add-multiple">
                            Add <input type="number" id="add_multi_items"> more <button id="add_multi_items_btn" class="button-primary">ok</button>
                        </div>
                        <input type="submit" action="submit" id="items_submit_button" class="button-primary full-width-button" value="submit">
                    </form>
                </div>
            </div>
        </section>


        <section id="job_po_section">
            <h3>Purchase Orders</h3>
            {% if job.total_difference_value_po_vs_line != 0 %}
            <div class="warning subsection">
                <h4>Discrepancy</h4>
                <p>Sum of PO values does not match sum of line item selling prices.</p>
                <table id="po-discrepancy" class="price-comparison">
                    <tr><th>PO Total</th><td>{{ job.currency }}</td><td class="po-total-price-f number">{{ job.total_po_value_f }}</td><td></td></tr>
                    <tr><th>Line Items Sum</th><td>{{ job.currency }}</td><td class="selling-price number">{{ job.total_line_value_f }}</td><td></td></tr>
                    <tr class="conclusion"><th>Difference</th><td>{{ job.currency }}</td><td class="diff-val number">{{ job.total_po_difference_value_f }}</td><td>(<span class="diff-perc">{{ job.total_po_difference_perc }}</span>%)</td></tr>
                </table>
            </div>
        {% endif %}


            <div class="job-po-container">
        {% for po in job.related_po %}
                    <div class="po-row">
                        <div class="details">
                            <span class="reference">{{ po.reference }}</span> dated <span class="date_on_po">{{ po.date_on_po }}</span> for <span class="currency">{{ po.currency }}</span> <span class="value">{{ po.value_f }}</span> (received <span class="date_received">{{ po.date_received }}</span>)
                            <button type="button" class="po-edit edit-icon" data-po="{{ po.id }}"><span>edit</span></button>
                        </div>
                    </div>
        {% endfor %}
            </div>
            <div class="job-po-form-container">

                <button id="toggle_po_form_btn" class="add-button">New PO</button>
                <form method="POST" action="{% url 'purchase_order' %}" class="form-like panel hide" id="po_form">
                    <button type="button" class="cancel-po-form close"><span>cancel</span></button>
                    <h5 class="panel-header">Add PO</h5>
                    {% csrf_token %}
                    {{ po_form }}
                    <div class="controls">
                        <input type='submit' action='submit' id='po_submit_button' value='submit' class='button-primary'>
                    </div>
                </form>
            </div>


        </section>



        <section id="price_check_section">
            <h3>Prices</h3>

        {% if job.main_item_list == None %}
            <p>Activates upon entering items.</p>

        {% else %}
            <div id="price_confirmation_status">
                <div class="status-indicator {% if job.price_is_ok %}on{% else %}off{% endif %}">
                    <span class="status-name">
                        selling price is
                    </span>
                    <button id="price_confirmation_button" data-current_status=
            {% if job.price_is_ok %}
                    "true">
                    confirmed
            {% else %}
                    "false">
                    NOT CONFIRMED
            {% endif %}   
                    </button>
                </div>
            </div>

            <div id="price_summary" class="subsection">
                <h4>Comparison to List Price</h4>
                <table class="price-comparison">
                    <tr>
                        <th>Items Sum</th>
                        <td>{{ job.currency }}</td>
                        <td class="selling-price">{{ job.total_line_value_f }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>List Prices Sum</th>
                        <td>{{ job.currency }}</td>
                        <td class="list-price">{{ job.total_list_price_f }}</td>
                        <td></td>
                    </tr>
                    <tr class="conclusion">
                        <th>Difference</th>
                        <td>{{ job.currency }}</td>
                        <td class="diff-val">{{ job.total_list_difference_value_f }}</td>
                        <td>(
                            <span class="diff-perc">{{ job.total_list_difference_perc }}</span>
                            %)
                        </td>
                    </tr>
                </table>
            </div>

            <div class="subsection">
                <h4>Details</h4>
                <table id="price_check_table">
                    <thead>
                        <tr class="upper-h-row">
                            <th colspan=3></th>
                            <th colspan=4>vs. Price List</th>
                            <th colspan=4>vs. Resale</th>
                        </tr>
                        <tr class="lower-h-row">
                            <th>part #</th>
                            <th>qty</th>
                            <th>sold @</th>
                            <th>version</th>
                            <th>value</th>
                            <th colspan=2>difference</th>
                            <th>perc</th>
                            <th>value</th>
                            <th colspan=2>difference</th>
                        </tr>
                    </thead>
                    <tbody>
            {% for item in job.main_item_list %}
                {% if item.included_with == None %}
                        <tr id="price_check_row_{{ item.id }}">
                            <td class="description"><span class="details-toggle">{{ item.product.part_number }}</span> <span class="details hide">{{ item.product.name }}</span></td>
                            <td class="qty">{{ item.quantity }}</td>
                            <td class="selling-price-container"><span class="selling-price">{{ item.selling_price_f }}</span><button class="edit-btn edit-icon" data-jiid="{{ item.id }}"><span>edit</span></button></td>
                            <td class="version">{{ item.price_list }}</td>
                            <td class="list-price">{{ item.list_price_f }}</td>
                            <td class="list-diff-val">{{ item.list_difference_value_f }}</td>
                            <td class="list-diff-perc">{{ item.list_difference_perc_f }}%</td>
                            <td class="resale-percentage">{{ item.resale_percentage }}%</td>
                            <td class="resale-price">{{ item.resale_price_f }}</td>
                            <td class="resale-diff-val">{{ item.resale_difference_value_f }}</td>
                            <td class="resale-diff-perc">{{ item.resale_difference_perc_f }}%</td>
                        </tr>
                {% endif %}
            {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </section>
    </div>


{% endblock %}


