{% extends 'adminas/layout.html' %}
{% load static %}


{% block title %}
    - Comments on Job {{ job.name }}
{% endblock %}

{% block javascript %}
    <script>
        const JOB_ID = '{{ job.id }}';
        const URL_JOB_COMMENTS = '{% url "job_comments" job.id %}';
        const URL_COMMENT_STATUS = '{% url "comment_status" %}';
        const WANT_STREAMLINED_COMMENTS = false;
    </script>
    <script src="{% static 'adminas/job_comments.js' %}" type="text/javascript"></script>
{% endblock %}


{% block body %}
    <h2>Comments on Job {{ job.name }}</h2>

    <section class="job-identifier-pane">
        <h4>{{ job.name }} <img src="{{ job.flag_url }}" alt="{{ job.flag_alt }}"></h4>
        <p>
    {% if job.customer != None %}
            {{ job.customer }} 
        {% if job.agent != None %}
            (via 
        {% endif %}
    {% endif %}
    {% if job.agent != None %}
        {{ job.agent }}
    {% endif %}
    {% if job.agent != None and job.customer != None %}
    )
    {% endif %}
        @ {{ job.currency }}&nbsp;{{ job.value }}
        </p>
        <a href="{% url 'job' job.id %}">Return to Job</a>
        <section class="comment-container pinned">
        {% for p in pinned %}
            <article
                class="one-comment {% if p.private %}private{% else %}public{% endif %} id-{{ p.id }} {% if p.highlighted %}highlighted{% endif %}" 
                data-comment_id="{{ p.id }}"
                data-is_private="{{ p.private|lower }}"
                data-is_pinned="true"
                data-is_highlighted="{{ p.highlighted }}"
            >
                <section class="main">
                    <div class="contents">
                        <span>{{ p.contents }}</span>
                    </div>
                    <div class="controls">
                        <button class="pinned-toggle pinned-status-on">unpin</button>
                        <button class="highlighted-toggle">+/- highlight</button>
                {% if p.user_is_owner %}
                        <button class="edit-comment">edit</button>
                {% endif %}
                    </div>
                </section>
                <section class="footer">
                    <div>
                        {{ p.created_by }} on {{ p.created_on }}
                        <span class="privacy-status">
                {% if p.user_is_owner %}
                    {% if p.private %}
                            [PRIVATE_ICON]
                    {% else %}
                            [public_icon]
                    {% endif %}
                {% endif %}
                        </span>
                    </div>
                </section>
            </article>
            {% endfor %}
        </section>
        <button id="id_add_job_comment_with_settings">Add new comment</button>
    </section>

    {% for section in comment_data %}
    <section>
        <h3>{{ section.title }}</h3>
        <div class="comment-container {{ section.class_suffix }}">
        {% for comment in section.comments %}
            <article
                class="one-comment {% if comment.private %}private{% else %}public{% endif %} id-{{ comment.id }} {% if comment.highlighted %}highlighted{% endif %}" 
                data-comment_id="{{ comment.id }}"
                data-is_private="{{ comment.private|lower }}"
                data-is_pinned="{{ comment.pinned|lower }}"
                data-is_highlighted="{{ comment.highlighted }}"
            >
                <section class="main">
                    <div class="contents">
                        <span>{{ comment.contents }}</span>
                    </div>
                    <div class="controls">
                        <button class="pinned-toggle pinned-status-{% if comment.pinned %}on">unpin{% else %}off">pin{% endif %}</button>
                        <button class="highlighted-toggle">+/- highlight</button>
                {% if comment.user_is_owner %}
                        <button class="edit-comment">edit</button>
                {% endif %}
                    </div>
                </section>
                <section class="footer">
                    <div>
                        {{ comment.created_by }} on {{ comment.created_on }}
                        <span class="privacy-status">
                {% if comment.user_is_owner %}
                    {% if comment.private %}
                            [PRIVATE_ICON]
                    {% else %}
                            [public_icon]
                    {% endif %}
                {% endif %}
                        </span>
                    </div>
                </section>
            </article>            
        {% empty %}
            <p class="empty-section-notice">No comments have been {{ section.empty_message_suffix }}.</p>
        {% endfor %}
        </div>
    </section>
    {% endfor %}

    {% if page_data.has_other_pages %}
    <section id="comment_pagination_controls">
        {% if page_data.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_data.previous_page_number }}">previous</a>
        {% else %}
        <span class="disabled-link">&laquo; first</span>
        <span class="disabled-link">previous</span>
        {% endif %}

        <span>page {{ page_data.number }} of {{ page_data.paginator.num_pages }}</span>

        {% if page_data.has_next %}
        <a href="?page={{ page_data.next_page_number }}">next</a>
        <a href="?page={{ page_data.paginator.num_pages }}">last &raquo;</a>
        {% else %}
        <span class="disabled-link">next</span>
        <span class="disabled-link">last &raquo;</span>
        {% endif %}

    </section>
    {% endif %}
{% endblock %}