{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Adminas{% block title %}{% endblock %}</title>

        <link href="{% static 'adminas/styles.css' %}" rel="stylesheet">
        <script src="{% static 'adminas/util.js' %}" type="text/javascript"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet"> 

        {% block javascript %}
        {% endblock %}
    </head>
    <body>
        <div class='page_container'>
            <h1>Adminas</h1>
            <nav>
                <ul>
{% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'records' %}">Records</a>
                    </li>
                    <li>
                        <a href="{% url 'edit_job' %}">New</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Log out</a>
                    </li>
{% else %}
                    <li>
                        <a href="{% url 'login' %}">Log in</a>
                    </li>
                    <li>
                        <a href="{% url 'register' %}">Register</a>
                    </li>
{% endif %}

                </ul>
            </nav>
            <div class='page_contents'>
                {% block body %}
                {% endblock %}
            </div>
            <div class="credits">
                <h6>Credits</h6>
                <ul>
                    <li><a href="https://icons8.com/icon/103912/private-lock">Private Lock icon by Icons8</a></li>
                    <li><a href="https://icons8.com/icon/476/pin">Pin icon by Icons8</a></li>
                    <li><a href="https://icons8.com/icon/7873/pin">Pin icon by Icons8</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>