{% extends "adminas/layout.html" %}

{% block title %}
    - Log in
{% endblock %}

{% block body %}
    <h2>Log in</h2>

    {% if message %}
    <div>{{ message|safe }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" id="id_login" class="form-like">
        {% csrf_token %}
        <div>
            <label for="id_username">Username</label>
            <input autofocus type="text" name="username" placeholder="username" id="id_username">
        </div>
        <div>
            <label for="id_password">Password</label>
            <input type="password" name="password" placeholder="password" id="id_password">
        </div>
        <input id="login-btn" class="button-primary" type="submit" value="Log in">
    </form>

    <div class="helpful-suggestion">
        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </div>
{% endblock %}