{% extends "adminas/layout.html" %}

{% load static %}
{% load get_item_description %}
{% load get_valid_jobitems_for_slot %}
{% load get_num_assigned_modules %}

{% block title %}
    - Module Management
{% endblock %}

{% block javascript %}
    <script>
        const URL_ASSIGNMENTS = "{% url 'module_assignments' %}";
    </script>
    <script src="{% static 'adminas/manage_modules.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <h2>Module Management</h2>
    <h2>Job {{ job.name }} for {{ job.customer.name }}</h2>

    {% for jobitem in items %}
    <div class="modular-item-container">

        <div class="item-desc">
            <h3>{{ jobitem.quantity }} x {{ jobitem.product }}</h3>
            <div class="desc">{% get_item_description jobitem.product job.language %}</div>
        </div>

        {% for slot in jobitem.product.slots.all %}
        <div class="modular-slot-container">

            <div class="spine">
                <h4>{{ slot.name }}</h4>
            {% get_num_assigned_modules jobitem slot as num_assigned %}
            {% if num_assigned < slot.quantity_required|add:slot.quantity_optional %}
                <div class="add-slot">+ Slot (?/{{ slot.quantity_required|add:slot.quantity_optional }})</div>
            {% endif %}
            </div>

            <div class="contents">
            {% for existing in jobitem.modules.all %}
                {% if existing.slot == slot %}
                <div class="full-module-slot jobitem" data-slot="{{ slot.id }}" data-parent="{{ jobitem.id }}">
                    <span class="child-desc">{{ existing.quantity }} x {{ existing.child.product }}</span>
                    <button class="edit-slot-filler-btn" data-jobmod="{{ existing.id }}">edit</button>
                    <button class="remove-from-slot-btn" data-jobmod="{{ existing.id }}">x</button>
                </div>
                {% endif %}
            {% endfor %}

            {% if num_assigned < slot.quantity_required %}
                <div class="empty-module-slot" data-slot="{{ slot.id }}" data-parent="{{ jobitem.id }}"><i>Click to fill</i></div>
            {% endif %}
                
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}




{% endblock %}