{% extends "adminas/layout.html" %}

{% load static %}

{% block title %}
    - Records
{% endblock %}

{% block javascript %}
    <script>
        const URL_TODO_MANAGEMENT = "{% url 'todo_list_management' %}";
        const REPLACE_TODO_BTN = "td-dash";
        const URL_SELECT_OPTIONS = "{% url 'get_data' %}";
    </script>
    <script src="{% static 'adminas/todo_management.js' %}" type="text/javascript"></script>
    <script src="{% static 'adminas/records_filter.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <h2>Records</h2>

    <button id="id_filter_records" class="button-primary">Apply Filter</button>

    <table>
        <tr>
            <th>View</th>
            <th>Watch</th>
            <th>Name</th>
            <th>Agent</th>
            <th>Customer</th>
            <th>Country</th>
            <th>Lang</th>
            <th>Entered</th>
            <th>Curr</th>

            <th>Inv to</th>
            <th>Quote</th>
            <th>PO Num</th>
            <th>PO Value</th>

            <th>INCO</th>
            <th>Deliver to</th>

            <th>Products</th>
        </tr>

            
    {% for job in data %}
        <tr>
            <td><a href="{% url 'job' job.id %}">Link</a></td>
            <td>
        {% if user in job.users_monitoring.all %}
                -
        {% else %}
                <button class="todo-list-add" data-job_id="{{ job.id }}">+</button>
        {% endif %}
            </td>
            <td>{{ job.name }}</td>
            <td>{{ job.agent.name }}</td>
            <td>{{ job.customer.name }}</td>
            <td>{{ job.country.name }}</td>
            <td>{{ job.language }}</td>
            <td>{{ job.created_on|date:"Y-m-d" }}</td>
            <td>{{ job.currency }}</td>
            <td>{{ job.invoice_to.site.company.name }}</td>
            <td>{{ job.quote_ref }}</td>
            <td>
                <span class="po">
        {% if job.num_po > 1 %}
                    <div class="hover-data">Multiple [+]  
                        <div class="data">
                            <ul>  
            {% for po in job.po.all %}
                                <li>{{ po.reference }}</li>
            {% endfor %}
                            </ul>
                        </div>
                    </div>
        {% else %}
                    {{ job.po.all.0.reference }}
        {% endif %}
                </span>
            </td>
            <td>{{ job.total_po_value_f }}</td>
            <td>{{ job.incoterm_code }}</td>
            <td>{{ job.invoice_to.site.company.name }}</td>
            <td>
        {% for item in job.main_item_list %}
            {% if forloop.first %}
                <div class="hover-parent">List
                    <div class="hover-child">
                        <ul>
            {% endif %}
                            <li>{{ item.display_str_with_money|safe }}</li>
            {% if forloop.last %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}


