{% extends "adminas/layout.html" %}

{% block title %}
    - Records
{% endblock %}

{% block body %}
    <h2>Records</h2>

    <table>
        <tr>
            <th>View</th>
            <th>Name</th>
            <th>Agent</th>
            <th>Customer</th>
            <th>Country</th>
            <th>Lang</th>
            <th>Curr</th>

            <th>Inv to</th>
            <th>Quote</th>
            <th>PO Num</th>
            <th>PO Value</th>

            <th>INCO</th>
            <th>Deliver to</th>

            <th>Products</th>
        </tr>

            
    {% for job in data %}
        <tr>
            <td><a href="{% url 'job' job.id %}">Link</a></td>
            <td>{{ job.name }}</td>
            <td>{{ job.agent.name }}</td>
            <td>{{ job.customer.name }}</td>
            <td>{{ job.country.name }}</td>
            <td>{{ job.language }}</td>
            <td>{{ job.currency }}</td>
            <td>{{ job.invoice_to.site.company.name }}</td>
            <td>{{ job.quote_ref }}</td>
            <td>
                <span class="po">
        {% if job.num_po > 1 %}
                    <div class="hover-data">Multiple [+]  
                        <div class="data">
                            <ul>  
            {% for po in job.po.all %}
                                <li>{{ po.reference }}</li>
            {% endfor %}
                            </ul>
                        </div>
                    </div>
        {% else %}
                    {{ job.po.all.0.reference }}
        {% endif %}
                </span>
            </td>
            <td>{{ job.total_po_value_f }}</td>
            <td>{{ job.incoterm_code }}</td>
            <td>{{ job.invoice_to.site.company.name }}</td>
            <td>
        {% for item in job.main_item_list %}
            {% if forloop.first %}
                <div class="hover-data">View
                    <div class="data">
                        <ul>
            {% endif %}
                            <li>{{ item.display_str_with_money|safe }}</li>
            {% if forloop.last %}
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}


