$f_heading: 'Arial', sans-serif;
$f_contents: 'Calibri', sans-serif;

$c_bg_main: rgb(34, 35, 36);
/*$g_bg_main: linear-gradient(45deg, rgb(24, 25, 26) 0%, rgb(30, 30, 31) 35%, rgb(46, 48, 48) 100%);*/
$g_bg_main: linear-gradient(45deg, rgb(34, 35, 36) 0%, rgb(40, 40, 41) 35%, rgb(56, 58, 58) 100%);
$c_txt_main: #F6F6F6;/* rgb(233, 247, 255); */
$c_txt_main_highlight: white;
$c_txt_alt: black;
$c_txt_alt_highlight: #222;

$c_tone_00: #141414;
$c_tone_01: #222;
$c_tone_02: #444;
$c_tone_03: #666;
$c_tone_04: #888;
$c_tone_05: #AAA;
$c_tone_06: #BBB;
$c_tone_07: #F6F6F6;

$c_accent: #00D4F5;
$c_accent_04: #6bfaff; /* #6bfaff */
$c_accent_03: #4ADFF7; /*#00E4F5;*/
$c_accent_02: #00A8C2; /*#00A4C5;*/
$c_accent_01: #006675;
$c_txt_on_accent: black;
$g_accent_main: linear-gradient(135deg, $c_accent_02 0%, $c_accent 50%, $c_accent_04 100%);
$g_accent_main_background: linear-gradient(135deg, rgb(48, 48, 48) 75%,  $c_accent_01 100%);

$g_button_main: linear-gradient(45deg, $c_accent_03 0%, $c_accent 33%, $c_accent_02 100%);
$g_button_hover: linear-gradient(135deg, $c_accent_04, $c_accent_03 66%, $c_accent 100%);

$c_warning: rgb(207, 0, 0);
//$g_warning: linear-gradient(0deg, rgb(139, 0, 0) 0%, rgb(192, 0, 0) 100%);
$g_warning_hover: linear-gradient(0deg, rgb(172, 0, 0) 0%, rgb(230, 0, 0) 100%);
$c_txt_warning_g: white;
//$warning_shadow: 0 0 10px 1px rgba($c_warning, 50%);
$warning_shadow: 0 0 2px 2px rgba(white, 80%);

$g_secondary_btn: linear-gradient(335deg, rgb(48, 48, 48) 0%,  rgb(60, 60, 60) 100%);

$c_accent_secondary: #0DFA96;
$c_accent_secondary_02: #067A4A;
$c_accent_secondary_03: #09BA70;

$g_button_secondary: linear-gradient(335deg, #0AC778 0%,  #0DFA96 100%);

$panel_shadow: 0 0 10px 1px rgba(black, 85%);
$panel_shadow_highlight: 0 0 10px 1px rgba($c_accent, 50%);

$MAX_WIDTH: 700px;

html, body{
    min-height: 100%;
}

body {
    font-family: $f_contents;
    background: $c_bg_main;
    background: $g_bg_main;
    color: $c_txt_main;
}

button{
    font-size: 1rem;
    font-family: $f_contents;
}

a{
    color: $c_accent;
    &:hover{
        color: $c_accent_04;
    }
}

h2, h3, h4, h5, h6{
    font-family: $f_heading;
}

h2 {
    color: $c_txt_main;
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid $c_txt_main;
}

.subheading{
    margin-top: 0px;
    font-size: 1.1rem;
    font-weight: bold;
}

h3{
    margin-top: 1.7rem;
    margin-bottom: 0;
    width: 100%;
    padding: 0.4rem 0 0.3rem 0;
    border-bottom: 1px solid $c_tone_03;
}

input, select, textarea{
    max-width: 100%;
    margin-top: 3px;
    background: $c_tone_00;/*$c_tone_01;*/
    border: 1px solid $c_accent_02;
    border-radius: 3px;
    color: $c_txt_main;

    &:active, &:focus{
        outline: thin dotted;
        background: $c_tone_01;
    }        
}

input {
    height: 1.3rem;
    padding: 0.2rem 0.5rem;
}

select{
    height: 1.7rem;
    padding: 0.2rem 0.3rem;
}

textarea{
    font-family: $f_contents;
    font-size: 0.9rem;
    padding: 3px 5px;
}

article{
    padding: 0;
    margin: 0;
}

.page_container{
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 500px){
    .page_container{
        width: 90%;
        margin: 0 auto 0;
    } 
}







/* Nav bar ------------------------------------------------------ */
nav {
    ul{
        display: flex;
        flex-direction: row;

        margin: 0;
        padding: 0;

        border: 1px solid $c_tone_03;
        border-left-width: 0;
        border-right-width: 0;
        list-style: none;

        background: $c_bg_main;
        background: $g_bg_main;
        box-shadow: 0px 0px 15px 8px rgb(15,15,15);
    }
    li, li a{
        font-size: 1rem;
        height: 1.2rem;
        padding: 0.5rem;

        text-decoration: none;
        color: $c_txt_main;
    }
    li a{
        border-bottom: 3px solid transparent;
        &:hover{
            color: $c_txt_main_highlight;
            background: $c_tone_02;
            border-bottom: 3px solid $c_accent;
        }
    }
}

/* Layout stuff --------------------------------------------------------------- */
.button-primary{
    font-weight: bold;
    border-radius: 0.6rem;

    background: $c_accent;
    background: $g_button_main;
    color: $c_txt_main;
    border: 1px solid $c_accent_02;

    &:hover{
        color: $c_txt_alt;
        background: $c_accent_03;
        background: $g_button_hover;
        box-shadow: 0 0 3px 1px $c_tone_02;
    }
}
.button-primary-hollow{
    font-weight: bold;
    border-radius: 0.6rem;

    background: transparent;
    color: $c_accent;
    border: 1px solid $c_accent_02;

    &:hover{
        color: $c_txt_alt;
        background: $c_accent_03;
        box-shadow: 0 0 3px 1px $c_tone_02;
    }
}

// .button-secondary{
//     font-weight: bold;
//     border-radius: 0.6rem;

//     background: $c_tone_02;
//     background: $g_secondary_btn;
//     border: 1px solid $c_accent_secondary;
//     color: $c_accent_secondary;

//     &:hover{
//         color: $c_txt_alt;
//         background: $c_accent_secondary;
//         background: $g_button_secondary;
//         box-shadow: 0 0 3px 1px $c_tone_02;
//     }
// }

.button-warning{
    font-weight: bold;
    border-radius: 0.6rem;

    background: $c_tone_02;
    background: $g_secondary_btn;
    border: 1px solid $c_warning;
    color: $c_warning;

    &:hover{
        background: $g_warning_hover;
        color: $c_txt_warning_g;
    }
}


.credits{
    border: 1px solid $c_tone_02;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    margin-top: 5rem;
    padding: 4px 8px;

    h6{
        padding: 0;
        margin: 0;
        color: $c_tone_05;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0.1rem 0.3rem;
    }

    a{
        color: $c_tone_03;
        text-decoration: none;
        &:hover{
            color: $c_tone_05;
            text-decoration: underline;
        }
    }
}




/* Home ------------------------------------------------------ */
#id_todo_list_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}


.job-panel {
    max-width: 400px;
    box-shadow: $panel_shadow;

    &:hover{
        border: 1px solid $c_tone_06;
        box-shadow: $panel_shadow_highlight;
    }

    h4{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin: 0;
        padding: 12px 8px;
        color: $c_txt_main;
        background: $c_tone_02;
        background: linear-gradient(0deg, $c_tone_01 0%, $c_tone_02 100%);
    }

    p{
        color: $c_txt_main;
        margin: 0;
        padding: 12px 10px;
        background: $c_tone_02;
        
    }

    ul{
        margin-top: 0;
        margin-bottom: 0;
        background: $c_accent_01;
        color: $c_txt_main;
        padding: 8px 24px;
        border-top: 1px solid $c_accent;
        border-bottom: 1px solid $c_accent;
    }

    .comments{
        margin: 0;
    }
}


@keyframes expand_comment_button {
    from {
        width: 26px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 8rem;
        text-indent: 0;
    }
}



.close{
    float: right;
    color: $c_tone_07;
    margin-right: 3px;

    width: 30px;
    height: 30px;
    background-image: url('i-x-hollow.svg');
    background-repeat: no-repeat;
    background-position: right;
    border: transparent;

    background-color: transparent;
    padding: 3px 5px;
    font-size: 0.75rem;
    z-index: 2;

    &:hover{
        color: $c_txt_main;
        font-size: 1rem;
        background-image: url('i-x-filled.svg');
        width: 6.5rem; 
        text-indent: 0;
    }

    span{
        color: transparent;
        text-align: center;
    }

    &:hover{
        span{
            color: white;
            border-radius: 5px;
            background: rgba($c_tone_00, 80%);
            border: 1px solid $c_tone_00;

            display: block;
            width: 4rem;

            position: absolute;
            top:0;
            right:26px;
        }
    }    
}


.add-button{
    border: 0;
    border-radius: 13px;
    border: 1px solid transparent;

    height: 30px;
    width: 30px;

    &.comment{
        margin: 0;
    }
    &.comment-to-todolist{
        margin: 3px 5px;
    }
    &.job-to-todolist{
        margin: 0.6rem 0 0 0;
    }
    
    background-image: url(i-plus-empty.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 5px 2px;
    background-size: 24px 24px;
    text-indent: -9999px;

    &:hover{
        border: 1px solid $c_tone_05;

        color: $c_txt_main;
        font-weight: bold;

        background-image: url(i-plus-filled.svg);
        background-color: $c_tone_02;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-name: expand_comment_button_add;

        &.job-to-todolist{
            animation-name: expand_todo_button_add;
        }
    }   
}

@keyframes expand_comment_button_add {
    from {
        width: 30px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 7.5rem;
        text-indent: 18px;
    }
}

@keyframes expand_todo_button_add {
    from {
        width: 30px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 10rem;
        text-indent: 18px;
    }
}

@keyframes expand_document_button_add{
    from {
        width: 30px;
        text-indent: -9999px;
    }

    95%{
        text-indent: -9999px;
    }
    
    to {
        width: 8rem;
        text-indent: 44px;
    }
}


.todo-list-add-pinned-comment-container{
    display: block;
    width: 100%;
}

.jobcomment-add-pinned-comment-container{
    display: block;
    width: 100%;
    margin: 0 0 0 0;

    .job-comment-cu-container{
        margin: 0 0 1rem 0;
    }
}

.job-comment-cu-container{
    display: block;
    background: $c_tone_02;
    border: 1px solid $c_tone_04;
    border-radius: 8px;
    padding: 2px 5px 0;
    max-width: $MAX_WIDTH;

    h4{
        margin: 5px 0 0;
        background: transparent;
        padding: 5px;
    }

    textarea{
        padding: 8px;
        width: calc(100% - 18px);
    }

    .checkbox-container{
        background: $c_tone_01;
        border: 1px solid $c_tone_00;
        border-radius: 3px;
        
        width: calc(100% - 0px);
        height: 1.5rem;
        display: flex;
        flex: row;
        align-content: flex-start;

        label{
            //margin: 0.25rem 0 0.25rem 0.4rem;
            margin: 0.15rem 0 0.25rem 0.4rem;
        }
        input{
            margin: 1px 0 0 7px;
        }
        #id_private_checkbox, #id_pinned_checkbox{
            margin-right: 2.5rem;
        }

    }

    .controls{
        width: 100%;
        height: 100%;
        overflow-x: auto;
        white-space: nowrap;

        button{
            float: left;
            margin: 5px;
            border-radius: 5px;
            padding: 5px 10px;
            width: 4.5rem;
        }

        .delete-comment-btn{
            float: right;
        }

    }
}

.comments{
    h5{
        margin: 3px 4px;
        padding: 3px 8px;
        font-size: 0.75rem;

        border-radius: 6px;
        border: 1px solid $c_tone_04;
        color: $c_tone_06;

        width: -moz-fit-content;
        width: fit-content;
    }

    .add-job-comment-simplified{
        margin: 5px;
        padding: 0.5rem;
    }
}


/* Create New Job ------------------------------------------------------ */
.form-row{
    margin-left: 0.5rem;

    label{
        display: block;
        margin: 1rem 0 0 1px;
    }

    .display-address{
        margin: 0.5rem 0 0 1rem;
        padding-left: 8px;
        border-left: 2px solid $c_accent_secondary;
        color: $c_tone_07;
    }
}

#submit_btn{
    display: block;
    margin: 1rem auto 0;
    font-size: 1.2rem;
    background: $c_accent;
    background: $g_button_main;
    color: $c_txt_main;
    font-weight: bold;
    height: 2.5rem;
    width: 98%;
    max-width: 15rem;
    border-radius: 0.4rem;
    border: 1px solid $c_accent_02;

    &:hover{
        color: $c_txt_alt;
        background: $c_accent_03;
        background: $g_button_hover;
        box-shadow: 0 0 3px 1px $c_tone_02;
    }

    @media screen and (min-width:500px){
        margin: 1rem 0 0;
    }
}



/* JobComments -------------------------------------------- */
.return-to-job{
    display: block;
    border: 1px solid $c_accent_02;
    border-radius: 8px;
    padding: 6px 8px;
    width: fit-content;
    margin: 0.5rem 0 0 0;
    text-decoration: none;
    

    &:hover{
        border: 1px solid $c_accent_02;
        background: $g_button_main;
        font-weight: bold;
        color: $c_txt_on_accent;
    }
}

.comment-types-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

    .comment-type-section{
        margin: 0; //0.5rem;
        padding: 0;
        flex:1;

        .subheading{
            font-weight: normal;
            margin-bottom: 1rem;
            font-size: 0.95rem;
        }
    }

    .jobcomment-add-pinned-comment-container{
        margin-top: 0.25rem;
    }

    h3{
        margin: 1.5rem 0 0 0;
    }

    @media screen and (min-width: 713px){//696px){
        .filtered-comments{
            order:2;
        }
        .all-comments{
            order:1;
        }
    }
}

.pagination_controls{
    margin: 1.5rem 0;
    height: 2rem;

    display: flex;
    max-width: $MAX_WIDTH;

    a{
        text-decoration: none;
    }

    a, span{
        flex: 1;
        text-align: center;
        border: 1px solid $c_tone_03;
        padding: 0.4rem;
    }

    .disabled-link{
        font-style: italic;
        color: $c_tone_02;
    }

    a:hover{
        border: 1px solid $c_accent_02;
        background: $g_button_main;
        color: $c_txt_on_accent;
        font-weight: bold;
    }

    :first-child{
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    :last-child{
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    //border-radius: 1rem;
}


.one-comment{
    width: calc(100% - 10px);
    min-width: 280px;
    max-width: $MAX_WIDTH;

    padding: 2px 5px 0;

    details {
        padding: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid $c_tone_03;
    }

    details, .full-comment-container{
        border-left: 2px solid transparent;
    }

    summary, .comment-body{
        padding: 0 5px 5px 5px;
        min-height: calc(24px + 8px);
    }

    &.highlighted{
        details, .full-comment-container{
            border-left: 2px solid yellow;
        }

        .full-comment-container{
            background: $c_tone_03;
            box-shadow: $panel_shadow;

            .comment-body{
                background: transparent;
            }
            .footer{
                color: $c_tone_06;
            }
        }
    }

    details[open]{
        background: $c_tone_03;
        border: 1px solid $c_tone_04;
        border-left: 1px solid $c_tone_04;
    }
    details[open] summary {
        background: $c_tone_02;
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
    }

    /* --- full version ---- */
    .full-comment-container{
        margin: 1rem 0 0 0;

        background: transparent;
        border: 1px solid $c_tone_02;

        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;

        .comment-body{
            padding: 0.3rem;
            border-bottom: 1px solid $c_tone_02;

            background: $g_bg_main;
            border-top-right-radius: 0.4rem;

            .main{
                .contents{
                    display: block;
                    margin: 0;
                    padding: 0.3rem;
                }
            }
        }  
        
        .footer{
            margin: 0;
            padding: 3px;
            font-size: 0.9rem;
            color: $c_tone_05;
        }

    }

    .main{
        .contents{
            margin: 0;
            padding: 5px;
        }

        .privacy-status{
            float: right;
            margin: 4px 6px;

            width: 24px;
            height: 24px;
            text-indent: -9999px;

            background-image: url(i-private-comment.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 24px 24px;
            text-indent: -9999px;
        }
    }

    .footer{
        margin: 3px;

        .ownership{
            display: inline-block;
            margin: 0;
            margin-left: 3px;
            padding-bottom: 3px;
        }
    }

    .controls{

        .edit-comment{
            background-image: url(i-edit.svg);
        }

        .highlighted-toggle{
            background-image: url(i-highlight.svg);        
        }

        .pinned-status-on{
            background-image: url(i-pin-filled.svg);
        }
    
        .pinned-status-off{
            background-image: url(i-pin-unfilled.svg);
        }


        .edit-comment, .highlighted-toggle, .pinned-status-on, .pinned-status-off{
            border: 0;
            border-radius: 13px;
            border: 1px solid transparent;

            height: 26px;
            width: 26px;

            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px 16px;
            text-indent: -9999px;

            &:hover{
                background-color: $c_tone_04;
                border: 1px solid $c_tone_05;

                color: $c_txt_main;
                font-weight: bold;

                animation-duration: 0.2s;
                animation-fill-mode: forwards;
                animation-name: expand_comment_button;
            }

        }
        .edit-comment{
            &:hover{
                background-position: 7px 4px;
            }
        }

        .highlighted-toggle, .pinned-status-on, .pinned-status-off{
            &:hover{
                background-position: 4px 4px;
            }
        }
    }
}






/* Job page  -----------------------------------------*/
.status-indicator{
    display: flex;
    flex: row;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: $c_tone_04;
    font-weight:bold;

    :first-child, :last-child{
        border: 1px solid $c_tone_03;
    }
    :first-child{
        border-top-left-radius: 0.2rem;
        border-bottom-left-radius: 0.2rem;
    }
    :last-child{
        border-top-right-radius: 0.95rem;
        border-bottom-right-radius: 0.95rem;  
    }

    .status-name{
        display: block;
        padding: 0.1rem 0.5rem 0.1rem 1rem;
        width: fit-content;
        color: white;
    }

    #price_confirmation_button, .toggle-todolist{
        display: block;
        padding: 0.1rem 1rem 0.1rem 0.7rem;
        background: transparent;

        color: $c_tone_06;
        border: 1px solid $c_tone_03;
        border-left: 3px solid $c_tone_05;

        &:hover{
            background: $c_tone_03;
        }
    }

    &.on{
        #price_confirmation_button, .toggle-todolist{
            color: $c_accent_secondary;
            border: 1px solid $c_accent_secondary_03;
            border-left: 3px solid $c_accent_secondary;

            &:hover{
                background: $g_button_secondary;
                color: black;
                font-weight: bold;
            }
        }
    }
}

.job-page-sections-wrapper{
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;

    h3{
        margin-bottom: 0;
    }

    .po-row{
        display: flex;
        justify-content: space-between;

        border: 1px solid $c_tone_03;
        padding: 0.3rem;
        margin-top: 0.5rem;
        border-radius: 5px;

        .edit-icon:hover{
            background-position: 5px 4px;
        }
    }

    .subsection{
        margin: 0.5rem 0 0 3px;
        border-bottom: 1px solid $c_tone_03;
        border-left: 3px solid $c_tone_04;

        h4{
            padding: 0.4rem 0 0.4rem 0.4rem;
            width: calc(100% - 0.4rem);
            background: $c_tone_02; 
            margin: 0;
            border-bottom: 0;
        }

        &.warning{
            border-left: 3px solid $c_warning;

            .intro-line, h4{
                background: $c_warning;
            }

            p{
                margin: 0;
                padding: 0.5rem;
            }

        }
    }
}

#job_po_section{
    .warning{
        box-shadow: $warning_shadow;
    }
}

#toggle_po_form_btn{
    margin-top: 0.4rem;
}



#job_details{
    max-width: $MAX_WIDTH;

    .read_row{
        border-bottom: 1px solid $c_tone_02;
        padding: 0.2rem 0;

        display: flex;
        flex: row;

        .row-label{
            display: inline-block;
            min-width: 8rem;
            max-width: 8rem;

            margin-left: calc(0.3rem + 6px);
        }
    }
}

.edit-icon{
    float: right;
    position: relative;

    border: 0;
    border-bottom: 2px solid transparent;

    height: 26px;
    width: 26px;

    background-image: url(i-edit.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;

    margin-left: 3px;
    margin-right: 3px;
    max-width: 26px;

    span{
        color: transparent;
        text-align: center;
    }

    &:hover{
        background-position: 5px 5px;
        background-color: transparent;
        border-bottom: 2px solid white;

        span{
            color: white;
            border-radius: 5px;
            background: rgba($c_tone_00, 80%);
            border: 1px solid $c_tone_00;

            display: block;
            width: 3rem;

            position: absolute;
            top:0;
            right:26px;
        }
    }
}

.extended-subheading{
    display: block;
    position: relative;
    width: 100%;

    a{
        color: $c_txt_main;
    }

    .edit-icon{
        position: absolute;
        height: 1.5rem;
        bottom: 0;
        right: 0.8rem;
        text-decoration: none;

        &:hover{
            background-position: 5px 4px;
        }
    }
}

.ji-edit{
    margin-right: 0;

    &:hover{
        background-position: 5px 4px;
    }
}

.job-doc-section{
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    ul{
        list-style-type: none;
        margin: 5px 3px 0;
        padding: 0 0 0 0.2rem;
        border-bottom: 1px solid $c_tone_02;
    }

    li{
        border-top: 1px solid $c_tone_02;
        a{
            padding: 0.2rem 0.2rem;
            margin: 0;
            &:hover{
                background: $c_tone_02;
            }
        }

    }

    .add-button{
        color: $c_txt_main;
        margin: 3px 5px;
        padding: 0;
        text-decoration: none;
        font-size: 1rem;

        &:hover{
            animation-name: expand_document_button_add;
        }
    }

    .issued-icon, .saved-icon{
        display: block;
        width: 1rem;
        text-align: center;
        padding: 0.04rem 0 0.02rem;
        border-radius: 2px;
        font-weight: bold;
        font-family: 'Times New Roman', serif;
        margin: 3px 0.5rem 0 0;
        font-size: 0.9rem;
        border: 1px solid $c_tone_00;
    }
    .issued-icon{
        color: white;
        background: $c_tone_01;
    }
    .saved-icon{
        color: black;
        background:white;
    }
}



.existing-items-container{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

    padding-bottom: 1rem;
    border-bottom: 1px solid $c_tone_01;

    width: 100%;
}


.panel{
    display: inline-block;
    position: relative;
    border: 1px solid $c_tone_04;
    border-radius: 8px;
    margin: 1rem 0.5rem 0 0.5rem;
    width: 100%;

    a{
        text-decoration: none;
    }

    .delete-panel{
        position: absolute;
        top: 2px;
        right: 5px;
        color: $c_tone_07;

        width: 30px;
        height: 30px;
        background-image: url('i-minus-empty.svg');
        background-repeat: no-repeat;
        background-position: right;
        border: transparent;

        background-color: transparent;
        padding: 3px 5px;
        font-size: 0.75rem;
        z-index: 2;

        &:hover{
            color: $c_txt_main;
            font-size: 1rem;
            background-image: url('i-minus-filled.svg');
            width: 6.5rem; 
            text-indent: 0;
        }

        span{
            color: transparent;
            text-align: center;
        }

        &:hover{
            span{
                color: white;
                border-radius: 5px;
                background: rgba($c_tone_00, 80%);
                border: 1px solid $c_tone_00;
    
                display: block;
                width: 4rem;
    
                position: absolute;
                top:0;
                right:26px;
            }
        }
    }
}


#container_edit_item, #po_edit_form, #po_form, .price-checker-edit-window, #new_items_container, .modular-item-container{
    // shared with panel
    display: inline-block;
    position: relative;
    border: 1px solid $c_tone_04;
    border-radius: 8px;
    margin: 1rem 0.5rem 0 0.5rem;
    width: 100%;
    max-width: $MAX_WIDTH;

    // shared with job item container
    h5{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size: 1rem;
        margin: 0;
        padding: 12px 8px;
        width: calc(100% - 16px);
        color: $c_txt_main;
        background: $c_tone_02;
        background: linear-gradient(0deg, $c_tone_01 0%, $c_tone_02 100%);
        border-bottom: 1px solid $c_tone_04;
    }

    // Not necessariy shared with anything
    label, input, select, span, .button-container{
        margin: 0;
        margin-left: 0.7rem;
    }

    label{
        display: block;
        margin-top: 1rem;
        margin-bottom: 6px;
        margin-right: 0.7rem;
        padding-top:0.3rem;
        font-size: 1.1rem;
        font-weight: bold;
        border-top: 1px solid $c_tone_02;
    }

    #id_edit_item_selling_price{
        // This has a span in front indicating the currency, so it doesn't want the full margin
        margin-left: 0.5rem;
    }

    .button-container{
        display: flex;
        justify-content: center;
        gap: 5%;

        margin-top: 1.2rem;
        margin-bottom: 1rem;
        margin-left: 0;

        border-top: 1px solid $c_tone_02;
        padding-top: 0.7rem;

        button, #po_submit_button{
            max-width: 10rem;
            width: 30%;
            height: 2rem;
        }
    }

    &.hide{
        display:none;
    }

}

#po_edit_form{
    width: calc(100% - 1rem);
    margin-bottom: 1.1rem;

    .button-container{
        gap: 5%;

        button, #po_submit_button{
            max-width: 10rem;
            width: 25%;
            height: 2rem;
        }
    }
}

.selling-price-container{
    position: relative;
}



#new_items_container{
    display: block;
    padding: 0;
    width: 95%;
    //margin: 0 auto 0;

    .form-row{
        display: block;
        position: relative;
        padding: 0.3rem 0.4rem;
        border-radius: 5px;
        background: $c_tone_02;
        margin: 1rem auto 0;
        width: calc(97% - 1.8rem);

        :first-child{
            border-top: none;
            margin-top: 0;
        }

        input, select{
            max-width: 80%;
        }

        .desc{
            display: block;
            font-size: 0.9rem;
            font-style: italic;
            margin: 0.2rem 0 0 1.2rem;
            border-left: 3px solid $c_accent_secondary;
            padding: 5px;

            &.hide{
                display: none;
            }
        }
    }

    .add-button{
        margin: 0.5rem 0 0 0.5rem;
    }

    .add-multiple{
        width: fit-content;
        display: block;
        //margin: 0.5rem auto 0;
        margin: 0.5rem 0.5rem 0;
        padding: 0.15rem 0.35rem;
        border: 1px solid $c_tone_02;
        border-radius: 5px;
        font-size: 0.8rem;
        background: $c_tone_01;

        input{
            width: 3rem;
            height: 0.9rem;
            font-size: 0.8rem;
            margin-left: 0.1rem;
        }

        .button-primary{
            margin-left: 1.5rem;
            font-size: 0.9rem;
            width: 3rem;
            padding: 0.15rem 0.5rem;
        }
    }

    #items_submit_button{
        width: 100%;
        margin: 1rem 0 0;
        padding: 0.4rem 0;
        height: 2.3rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}







.price-checker-edit-window{
    position: absolute;
    z-index: 2;
    left: -10px;
    background: $c_tone_02;
    min-width: 280px;

    text-align: left;

    p{
        margin: 0.5rem;
    }

    .price-options-container{
        border-top: 1px solid $c_tone_01;

        h6{
            font-size: 0.95rem;
            font-weight: normal;
            width: 100%;
            margin: 0.5rem 0 0 0.5rem;
            padding-bottom: 0.2rem;
        }

        button{
            margin: 0.2rem 5% 0.2rem;
            padding: 0.4rem 0.3rem;
            width: 40%;
        }
    }

    .manual-price-container{
        margin: 1rem 0 1rem 0.5rem;
        display: flex;
        //width: 400px;
        flex-flow: row wrap;
        align-items: stretch;
        span{
            display: block;
            margin: 0 0 0.2rem 0;
            min-width: 100%;
        }
        input{
            margin: 0;
            width: 12rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        button{
            margin: 0;
            font-size: 0.9rem;
            width: 3.5rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        } 
    }

    .button-primary-hollow{
        background: $c_tone_00;

        &:hover{
            background: $c_tone_01;
            color: $c_accent_04;
        }
    }
}


.job-item-container{
    max-width: $MAX_WIDTH;
    box-shadow: $panel_shadow;

    h5{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size: 1rem;
        margin: 0;
        padding: 12px 8px;
        width: calc(100% - 16px);
        color: $c_txt_main;
        background: $c_tone_02;
        background: linear-gradient(0deg, $c_tone_01 0%, $c_tone_02 100%);

        .desc{
            &:before, &:after{
                content: '"';
            }

            font-style: italic;
            font-weight: normal;
            font-size: 0.95rem;
            color: $c_tone_06;
        }
    }

    ul{
        margin: 3px 0 0 0;
        padding-bottom: 0.3rem;
    }

    li{
        color: $c_tone_06;
    }

    .money{
        margin: 0 3px;
        padding: 4px 2px 10px 5px;
        border-top: 1px solid $c_tone_04;
        border-left: 3px solid transparent;

        .currency, .selling_price{
            font-size: 1.2rem;
            font-weight: bold;
        }

        .selling_price{
            margin-left: 0.5rem;
        }

    }

    .std-accs-container{
        margin-left: 3px;
        border-left: 3px solid $c_tone_04;

        p{
            padding: 0.2rem 0 0.2rem 0.4rem;
            width: calc(100% - 0.4rem);
            background: $c_tone_02; 
            margin: 0;
        }
    }

    .module-status-section{
        margin: 3px 0 1px 3px;
        border-bottom-left-radius: 3px;

        .intro-line{
            display: flex;
            align-items: center;
            padding: 0.2rem 0 0.2rem 0.4rem;
            width: calc(100% - 0.4rem - 3px);
            background: $c_accent_02;

            .display-text{
                flex-grow: 2;
            }
            &:after{
                content: '';
                display: table;
                clear: both;
            }
        }
    }

    .assignments{
        border-left: 3px solid $c_accent;
        .intro-line{
            background: $c_tone_02;
        }
    }

    .modules-ok{
        border-left: 3px solid $c_accent_secondary;
        .intro-line{
            background: $c_tone_02;
        }
    }  
}

.secondary-icon{
    margin: 3px 4px;
    padding: 3px 8px;
    font-size: 0.75rem;

    border-radius: 6px;
    border: 1px solid $c_tone_04;
    color: $c_tone_06;

    white-space: nowrap;

    width: -moz-fit-content;
    width: fit-content;
}

#toggle_item_form_btn{
    margin-top: 3px;
}

.warning.subsection{
    margin: 1rem 0;
}





table.price-comparison{
    margin: 0.5rem;
    border-spacing: 0;

    th{
        text-align: right;
        padding: 0.1rem 0.3rem;
        border-right: 2px solid $c_tone_02;
    }
    td{
        padding: 0.3rem;
    }

    th, td{
        border-top: 1px solid $c_tone_02;
    }

    .number{
        text-align: right;
    }

    .conclusion{
        background: $c_tone_01;

        th{
            border-right: 2px solid $c_accent_secondary; 
        }

        th, td{
            border-top: 1px solid $c_tone_03;//$c_tone_00;
            //border-bottom: 1px solid $c_tone_00;
        }
    }
}

.status-toggle-indicator{
    display: block;
    padding: 0.1rem 1rem 0.1rem 0.7rem;
    background: transparent;

    color: $c_tone_06;
    border: 1px solid $c_tone_03;
    border-left: 3px solid $c_tone_05;

    &:hover{
        background: $c_tone_03;
    }
}

#price_summary{
    margin-top: 1.5rem;
}




#price_check_table{
    margin: 0.3rem;
    border-collapse: collapse;
    
    tr:nth-of-type(even) { 
        background: $c_tone_02;
    }
    th, td{
        padding: 0.1rem 0.5rem;
    }
    th{
        border: 1px solid $c_tone_02;
        background: $c_tone_03;
    }
    td{
        border: 1px solid $c_tone_03;
        text-align: right;
        height: 2rem;
    }

    .selling-price{
        display: inline-block;
        margin-top: 0.25rem;
    }

    .edit-icon{
        margin: 0 0 0 0.3rem;
    }
    .edit-icon:hover{
        background-position: 5px 4px;
    }
}

@media only screen and (max-width: 930px) { //1010px
    #price_check_section{
        max-width: 475px;
        width: 100%;
    }

    // https://css-tricks.com/responsive-data-tables/
    #price_check_table{
        display: block; 

        /* Force table to not be like tables anymore */
        thead, tbody, th, td, tr { 
            display: block; 
        }
        
        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr { 
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        
        tr { 
            margin-top: 0.3rem;
            border: 1px solid $c_tone_04; 
        }
        
        td { 
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid $c_tone_03; 
            position: relative;
            padding-left: 50%; 
            padding-top: 10px;

            height: 1.75rem;
        }
       
        td:before { 
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 10px;
            left: 6px;
            width: 47%; 
            padding-right: 10px; 
            white-space: nowrap;
        }

        .selling-price{
            margin-top: 0;
        }
        
        /*
        Label the data
        */
        td:nth-of-type(2):before { content: "Quantity"; }
        td:nth-of-type(1):before { content: "Part Number"; }
        td:nth-of-type(3):before { content: "Sold @"; }
        td:nth-of-type(4):before { content: "Price List: Version"; }
        td:nth-of-type(5):before { content: "Price List: Value"; }
        td:nth-of-type(6):before { content: "Price List vs. Sold"; }
        td:nth-of-type(7):before { content: "Price List vs. Sold (%)"; }
        td:nth-of-type(8):before { content: "Resale: Discount"; }
        td:nth-of-type(9):before { content: "Resale: Value"; }
        td:nth-of-type(10):before { content: "Resale vs. Sold"; }
        td:nth-of-type(11):before { content: "Resale vs. Sold (%)"; }
    }

}





/* Visibility functionality ------------------------------------------------------ */
.hide{
    // position: absolute;
    // width: 1px;
    // height: 1px;
    // top: -9999px;
    // left: -9999px;

    display: none;
}

.hover-parent{
    display: inline-block;
    position: relative;

    .hover-child{
        display: none;
        position: absolute;
        top: -0.75rem;
        left: 1rem;
        width: 18rem;
        font-size: 0.8rem;
        padding: 3px 5px 3px 3px;
        color: $c_txt_alt;
        background: $c_tone_05;
        border: 1px solid $c_tone_06;
        border-radius: 2px;
    }

    &:hover .hover-child{
        display: block;
    }
}


/* Module Management ----------------------------------------------- */
.modular-item-container{
    // color: $c_txt_alt;
    // background: $c_tone_06;
    // margin-top: 2rem;
    // padding: 1rem 0.8rem;
    // border-radius: 10px;

    // max-width: 40rem;

    // .item-desc{
    //     background: $c_tone_07;
    //     padding: 0.7rem;
    //     margin:0;
    //     border-radius: 10px;

    //     h3{
    //         margin-top: 0.5rem;
    //         margin-bottom: 0.5rem;
    //         padding: 0.1rem;
    //     }
    // }

    .modular-slot-container{
        background: $c_tone_03;
        margin-top: 1rem;

        padding: 0.3rem;
        border-radius: 10px;

        display: grid;
        grid-template-columns: minmax(6rem, 25%) auto;
        grid-column-gap: 10px;

        .spine{
            color: white;
            text-align: right;
            padding: 0.2rem;
            
            h4{
                font-size: 1rem;
                margin: 0.2rem;
            }

            .add-slot{
                font-size: 0.8rem;
                font-style: italic;
                margin-top: 3px;
                padding: 2px 5px;
                background: $c_tone_02;
                border: 1px solid $c_tone_01;
                border-radius: 0.4rem;
                color: white;
            }

            .slot-info{
                display: flex;
                justify-content: flex-end;
                flex-wrap:wrap;
                font-size: 0.8rem;

                div {
                    margin: 0.1rem;
                    border-radius: 3px;
                }

                .head{
                    padding: 0 4px;
                }

                .body{
                    padding: 3px;
                }

                .required{
                    background: white;
                    color: green;
                    border: 1px solid rgb(38, 238, 38);

                    .head{
                        border-right: 1px solid rgb(38, 238, 38);
                    }
                }

                .optional{
                    background: $c_tone_04;
                    color: white;
                    border: 1px solid $c_tone_06;

                    .head{
                        border-right: 1px solid $c_tone_06;
                    }
                }

                .filled{
                    background: $c_tone_03;
                    border: 1px solid $c_tone_04;
                    color: white;

                    .head{
                        border-right: 1px solid $c_tone_04;
                    }
                }

                .excess{
                    background: white;
                    color: red;
                    border: 1px solid red;
                    font-weight: bold;

                    .head{
                        background: red;
                        color: white;
                        border-right: 1px solid red;
                    }
                }
            }
        }

        .contents{
            flex-grow: 2;
            padding: 0.5rem 0;

            .temp-warning-msg{
                color: red;
                font-size: 0.9rem;
                border: 1px solid $c_tone_05;
            }

            .module-slot{
                margin-top: 3px;
                border-radius: 9px;
                padding: 4px 10px;
            }

            .empty{
                background: white;
            }

            .new-slot-filler-inputs{
                color: white;
            }

            .jobitem{
                background: $c_tone_03;
                border: 1px solid $c_tone_06;
                color: white;
            }
        }

    }

}



.module-bucket-container{
    position: absolute;
    background: white;
    border: 3px solid $c_tone_02;
    padding: 0;

    h4{
        margin: 0;
        background: #EEE;
        padding: 0.5rem 0.5rem 0.3rem;
        border-color: #ccc;
    }

    .x-btn{
        position: absolute;
        top: 0;
        right: 0;
        background: #EEE;
        border: 0;
        padding: 5px;
        font-weight: bold;
        color: #666;
    }

    .bucket-options-container{
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid #DDD;
    }

    .bucket-item{
        border-radius: 10px;
        padding: 2px 10px;
        margin: 8px;
    }

    .jobitem_usedup{
        background: white;
        border: 1px solid #BBB;
        color: $c_tone_03;
        font-style: italic;
    }

    .add-new-btn{
        border: 1px solid rgb(0, 142, 15);
        background: white;
        color: rgb(0, 142, 15);

        font-size: 0.9rem;
        border-radius: 10px;
        padding: 3px 10px;
        margin: 8px;
    }
}

.excess-modules{
    border: 2px solid red;
}
